[user]
forceIconSize=true
iconSize=30
pinned=/usr/share/applications/discord.desktop;/usr/share/applications/idea.desktop;/usr/share/applications/firefox.desktop;/usr/share/applications/minecraft-launcher.desktop;/usr/share/applications/steam.desktop;/usr/share/applications/code.desktop;
